#content {
    margin-top: 3.4rem;
    margin-bottom: 3.5rem;
    font-family: 'Nunito', sans-serif;
}

#pilot{
    display: none;
}

@media (min-width: 992px){
    #content {
        margin-top: 4.624rem;
        margin-bottom: 4.624rem;
    }

    #pilot{
        display: block;
        padding-right: 0px;
        padding-left: 0px;
    }
}

.content-pushed {
    margin-top: 11.85rem !important;
}