#content {
    /* margin-top: 3.4rem;
    margin-bottom: 3.5rem; */
    font-family: 'Nunito', sans-serif;
    margin-left: 0;
    margin-right: 0;
    top: 4.62rem;
    position: absolute;
}

#pilot{
    display: none;
}

@media (min-width: 992px){
    #content {
        /* background-color: yellow; */
        height: auto;
        overflow-y: scroll;
        position: absolute;
        top: 4.62rem;
        bottom: 7.75rem;
    }

    #pilot{
        display: block;
        padding-right: 0px;
        padding-left: 0px;
        top: 0;
        bottom: 0;
        overflow-y: scroll;
        height: auto;
    }
}

.content-pushed {
    margin-top: 11.85rem !important;
}