<div id="content" [ngClass]="getUpdatedContentPosition()">
    <p>content works! 1</p>
    <p>content works! 2</p>
    <p>content works! 3</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works!</p>
    <p>content works! 4</p>
    <p>content works! 3</p>
    <p>content works! 2</p>
    <p>content works! 1</p>
</div>

