#footer{
    position: fixed;
    right: 0;
    bottom: 0;
    /* bottom: 10rem; */
    left: 0;
    z-index: 1030;
}

#header{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
}

#my-content{
    height: 65%;
    max-height: 65%;
    overflow-y: scroll;
}