<p class="ques-statement"><span class="ques-serial">1. </span>{{ problem.statement }}</p>
<hr class="separator">
<div class="form-check ques-options" *ngIf="problem.choice_A != ''">
    <input class=" form-check-input ques-radio-input" type="radio" name="exampleRadios" id="exampleRadios1"
        value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
        {{problem.choice_A}}
    </label>
</div>
<div class="form-check ques-options" *ngIf="problem.choice_B != ''">
    <input class=" form-check-input ques-radio-input" type="radio" name="exampleRadios" id="exampleRadios1"
        value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
        {{problem.choice_B}}
    </label>
</div>
<div class="form-check ques-options" *ngIf="problem.choice_C != ''">
    <input class=" form-check-input ques-radio-input" type="radio" name="exampleRadios" id="exampleRadios1"
        value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
        {{problem.choice_C}}
    </label>
</div>
<div class="form-check ques-options" *ngIf="problem.choice_D != ''">
    <input class=" form-check-input ques-radio-input" type="radio" name="exampleRadios" id="exampleRadios1"
        value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
        {{problem.choice_D}}
    </label>
</div>
<div class="form-check ques-options" *ngIf="problem.choice_E != ''">
    <input class=" form-check-input ques-radio-input" type="radio" name="exampleRadios" id="exampleRadios1"
        value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
        {{problem.choice_E}}
    </label>
</div>
<div class="form-check ques-options" *ngIf="problem.choice_F != ''">
    <input class=" form-check-input ques-radio-input" type="radio" name="exampleRadios" id="exampleRadios1"
        value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
        {{problem.choice_F}}
    </label>
</div>