<!-- <div id="pilot-holder"> -->
    <div class="btn-holder" class="btn-holder" *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <!-- <div class="btn-holder" *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div class="btn-holder" *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div class="btn-holder" *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div class="btn-holder" *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div class="btn-holder" *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div class="btn-holder" *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div class="btn-holder" *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div> -->
<!-- </div> -->


