<div id="pilot-holder">
    <div *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
    <div *ngFor="let problem of problemSet.problems">
        <button type="button" class="btn btn-outline-info pilot-btn">
            {{problem.problemId}}</button>
    </div>
</div>


